@page "/my-planets"
@layout MainLayout
@inject IHttpClientFactory HttpClientFactory
@inject NavigationManager uriHelper
@inject EmpireState State
@inject ISnackbar Snackbar

@if(State != null && State.Empire != null && State.Empire.Planets != null)
{
    <div class="row container m-auto">
        @foreach(var planet in State.Empire.Planets)
        {
            <div class="col-md-6 col-sm-12 mb-5">
                <MudCard Class="glass h-100">
                    <MudCardMedia Image="@planet.ImageUrl" Class="mb-5 image-borderbottom"/>
                    <MudCardContent>
                        <div class="row d-flex flex-column justify-content-between h-100">
                            <div class="col-md-12 col-sm-12">
                                <MudText Typo="Typo.h3" Align="Align.Center" Style="color: aliceblue" Class="mb-2">@planet.Name</MudText>
                            </div>

                            <div class="row d-flex w-100 justify-content-center m-0" style="color:aliceblue">
                                 @if(planet.PlanetProperty != null)
                                {
                                    <div class="col-md-4 col-sm-12 w-100">
                                        <p class="text-center"><b>Ételtermelés</b></p>
                                        <p class="text-center">@planet.PlanetProperty.BaseFood / óra</p>
                                    </div>
                                    <div class="col-md-4 col-sm-12 w-100">
                                        <p class="text-center"><b class="text-center">Kvarctermelés</b></p>
                                        <p class="text-center">@planet.PlanetProperty.BaseQuartz / óra</p>
                                    </div>
                                    <div class="col-md-4 col-sm-12 w-100">
                                        <p class="text-center"><b class="text-center">Bitcointermelés</b></p>
                                        <p class="text-center">@planet.PlanetProperty.BaseBitcoin / óra</p>
                                    </div>
                                    <div class="col-md-6 col-sm-12 w-100">
                                        <p class="text-center"><b class="text-center">Egységek elszállásolása (fő)</b></p>
                                        <p class="text-center">@planet.PlanetProperty.MaxUnitCount.ToString("N0") fő</p>
                                    </div>
                                    <div class="col-md-6 col-sm-12 w-100">
                                        <p class="text-center"><b class="text-center">Lakosság elszállásolása (fő)</b></p>
                                        <p class="text-center">@planet.PlanetProperty.MaxPopulationCount.ToString("N0") fő</p>
                                    </div>
                                }
                            </div>

                            <div class="col-md-12 col-sm-12">
                                    <div class="col-md-12 col-sm-12">
                                        <a href="/planet/@planet.PlanetProperty.PlanetId"><MudButton Variant="Variant.Filled" Color="Color.Tertiary" FullWidth="true" Style="color: aliceblue">Részletek</MudButton></a>
                                    </div>
                                  <div class="col-md-12 col-sm-12">
                                        <MudText Typo="Typo.h6" Align="Align.Center" Style="color: aliceblue" Class="mb-2">Fejlesztések:</MudText>
                                    </div>

                                    <div class="col-md-12 col-sm-12" style="color:aliceblue">
                                        @if (planet.Upgrades != null)
                                        {
                                            @if(planet.Upgrades.Count == 0)
                                            {
                                                 <div class="col-md-12 col-sm-12">
                                                    <MudText Typo="Typo.body2" Align="Align.Center" Style="color: aliceblue" Class="mb-2">Nincsen bolygóhoz tartozó fejlesztés</MudText>
                                                </div>
                                            }
                                            @foreach(var upgrade in planet.Upgrades)
                                            {
                                                <div class="row col-md-12 col-sm-12 w-100 m-0 mb-1 p-0 wtool" style="color:aliceblue">
                                                    <MudTooltip Text="@upgrade.UpgradeDescription" Class="w-100 col-md-12 col-sm-12" style="width:100%">
                                                        <MudText Typo="Typo.body2" Align="Align.Center" Style="color: aliceblue" Class="mb-2 w-100">@upgrade.UpgradeName</MudText>
                                                    </MudTooltip>
                                                </div>
                                            }
                                        } 
                                    </div>
                               
                                </div>
                        </div>
                    </MudCardContent>
                </MudCard>
            </div>
        }
    </div>
}

<style>
    .glass
    {
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        border-radius: 15px;
        background: rgba(0,0,0,0.43);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255,255,255,0.5);
    }

    .glass2
    {
        box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
        border-radius: 15px;
        background: rgba(255,255,255,0.53);
        backdrop-filter: blur(5px);
        border: 1px solid rgba(255,255,255,0.5);
    }

    .image-borderbottom{
        border-bottom: 1px solid rgba(255,255,255,0.5);
    }

    [class*="col-"] {
      margin-bottom: 30px;
    }

    .wtool .mud-tooltip-root{
        width:100%
    }
</style>

@code {
    protected async override Task OnInitializedAsync()
    {
        await State.InitializeAsync(uriHelper, HttpClientFactory, Snackbar);
    }
}
